<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Reptiles</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li><a href="../amphibians/index.html">Amphibians</a></li>
				<li><a href="../mammals/index.html">Mammals</a></li>
				<li><a href="index.html">Reptiles</a></li>
				<li><a href="../accessories/index.html">Accessories</a></li>
				<li><a href="../about-us.html">About Us</a></li>
				<li><a href="../contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>Reptiles</h1>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="king-cobra.html">King Cobra</a></h4>
								<div class="content group">
									<img src="../../img/reptiles/thumbs/king-cobra.jpg" alt="King Cobra Snake" class="pet-thumb" />
									<p>The King Cobra's diet makes it quite difficult to maintain besides being incredibly poisonous. We reccomend you have experience with snakes and use gloves for protection. As for the diet, we also provide pet food for snakes to make things easier.</p>
								</div>
							</div>
						</div>
					</div>
					<br/><br/>
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="thorny-dragon.html">Thorny Dragon</a></h4>
								<div class="content group">
									<img src="../../img/reptiles/thumbs/thorny-dragon.jpg" alt="Thorny Dragon Lizard" class="pet-thumb" />
									<p>Straight from the deserts of Australia, we present to you, the Thorny Dragon. These spiky little critters eat nothing but small ants. Since collecting ants manually would be difficult, we sell bottles of 1000s for $25 each to save you the trouble of getting it yourself. </p>
								</div>
							</div>
						</div>
					</div>
					<br/><br/>
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="komodo-dragon.html">Komodo Dragon</a></h4>
								<div class="content group">
									<img src="../../img/reptiles/thumbs/komodo-dragon.jpg" alt="Komodo Dragon Lizard" class="pet-thumb" />
									<p>Endangered yet dangerous itself. The Komodo Dragon is the largest lizard today and is one of, if not, the most deadly lizard alive. The Dragon is able to smell blood from kilometers away and are known to eat humans so beware. To prevent accidents, we suggest you keep the Komodo Dragon in a secure location where it cannot leave and harm others.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<!-- <div class="box-2 group">
								Featured Reptile
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>