<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Komodo Dragon</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li><a href="../amphibians/index.html">Amphibians</a></li>
				<li><a href="../mammals/index.html">Mammals</a></li>
				<li><a href="index.html">Reptiles</a></li>
				<li><a href="../accessories/index.html">Accessories</a></li>
				<li><a href="../about-us.html">About Us</a></li>
				<li><a href="../contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>Komodo Dragon</h1>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="module box-product-img">
						<img src="../../img/reptiles/komodo-dragon.jpg" alt="komodo dragon" />
					</div>
				</div>
				<div class="col-6">
					<div class="module box-product-desc">
						<dl>
							<dt>Price:</dt>
							<dd>$100000.00</dd>
							<dt>Food:</dt>
							<dd>Meat</dd>
							<dt>Housing:</dt>
							<dd>Terrarium</dd>
							<dt>Qty:</dt>
							<dd>2</dd>
						</dl>
						<h5>Description:</h5>
						<p>Endangered yet dangerous itself. The Komodo Dragon is the largest lizard today and is one of, if not, the most deadly lizard alive. The Dragon is able to smell blood from kilometers away and are known to eat humans so beware. To prevent accidents, we suggest you keep the Komodo Dragon in a secure location where it cannot leave and harm others.</p>
						<h5>Also see:</h5>
						<a href="../accessories/poison-guard-gloves.html">Poison Guard Gloves</a>,
						<a href="../accessories/meat-diet-package.html">Meat Diet Package</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>