<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Amphibians</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li><a href="index.html">Amphibians</a></li>
				<li><a href="../mammals/index.html">Mammals</a></li>
				<li><a href="../reptiles/index.html">Reptiles</a></li>
				<li><a href="../accessories/index.html">Accessories</a></li>
				<li><a href="../about-us.html">About Us</a></li>
				<li><a href="../contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>Amphibians</h1>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="chinese-giant-salamander.html">Chinese Giant Salamander</a></h4>
								<div class="content group">
									<img src="../../img/amphibians/thumbs/chinese-giant-salamander.jpg" alt="chinese giant salamander" class="pet-thumb" />
									<p>Enter the worlds largest amphibian, the Chinese Giant Salamander. Sadly, they are also critically endangered due to the loss of their natural habitat... These things can grow up to 180cm and weigh about 25-30 kg (adult). Giant Salamanders have poor vision due to their tiny eyes but they have many sensory organs to compensate. Their diet consists of pretty much anything thats edible (fish, insects, mammals etc.) which gives you a range of options for feeding one. In addition, these amphibians have an extremely slow metabolism so they do not need to eat much at all.</p>
								</div>
							</div>
						</div>
					</div>
					<br/><br/>
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="danube-crested-newt.html">Danube Crested Newt</a></h4>
								<div class="content group">
									<img src="../../img/amphibians/thumbs/danube-crested-newt.jpg" alt="danube crested newt" class="pet-thumb" />
									<p>The Danube Crested Newt is easily threatened by habitat loss and so, it is an endangered species. This little creature loves swampt and forest-like areas. They mainly eats worms which you should be able to buy from any pet store so keeping your Danube Crested Newt fed should be simple.</p>
								</div>
							</div>
						</div>
					</div>
					<br/><br/>
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="strawberry-poison-dart-frog.html">Strawberry Poison Dart Frog</a></h4>
								<div class="content group">
									<img src="../../img/amphibians/thumbs/strawberry-poison-dart-frog.jpg" alt="strawberry poison dart frog" class="pet-thumb" />
									<p>The Strawberry Poison Dart Frog is the only Poison Dart Frog that is not endangered. They prefer rainforest-like environmnents and primarily feed on arthopods so it should be straightforward to maintain their diet as you can buy the standard worms from most pet stores. As these creatures are poisonous, we reccomend using gloves and protective clothing when physically approaching them.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<!-- <div class="box-2 group">
								Featured Reptile
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>