<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Accessories</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li><a href="../amphibians/index.html">Amphibians</a></li>
				<li><a href="../mammals/index.html">Mammals</a></li>
				<li><a href="../reptiles/index.html">Reptiles</a></li>
				<li><a href="index.html">Accessories</a></li>
				<li><a href="../about-us.html">About Us</a></li>
				<li><a href="../contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>Accessories</h1>
					<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="anteater-for-tigers.html">Anteater (For Tigers)</a></h4>
								<div class="content group">
									<img src="../../img/accessories/thumbs/anteater.jpg" alt="anteater for tigers" class="pet-thumb" />
									<p>A little treat for your White Tiger. You can keep it elsewise, of course.</p>
								</div>
							</div>
						</div>
					</div>
					<br/><br/>
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="poison-guard-gloves.html">Poison Guard Gloves</a></h4>
								<div class="content group">
									<img src="../../img/accessories/thumbs/poison-guard-gloves.jpg" alt="poison guard gloves" class="pet-thumb" />
									<p>These gloves are designed for handling poisonous pets. The gloves are made with kevlar so that it is sturdy. In addition, these gloves have been designed to resist chemicals and are very comfortable despite the sturdy capabilities it possesses.</p>
								</div>
							</div>
						</div>
					</div>
					<br/><br/>
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="insect-diet-package.html">Insect Diet Package</a></h4>
								<div class="content group">
									<img src="../../img/accessories/thumbs/insect-diet-package.jpg" alt="insect diet package" class="pet-thumb" />
									<p>A nutritious blend for animals that feed on insects, arthopods etc. Also contains traces of fruit. These come in many varieties such as insects + fruits, insect mixtures and ants only.</p>
								</div>
							</div>
						</div>
					</div>
					<br/><br/>
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="meat-diet-package.html">Meat Diet Package</a></h4>
								<div class="content group">
									<img src="../../img/accessories/thumbs/meat-diet-package.jpg" alt="meat diet package" class="pet-thumb" />
									<p>A nutritious blend for carnivorous animals. We reccomend and suggest feeding this to young animals such as the White Wolf Cub while it grows up and then move on to the meats you can get at the butchers. Of course if you still feel obliged, you can still feed your pet with this package though.</p>
								</div>
							</div>
						</div>
					</div>
					<br/><br/>
					<div class="row">
						<div class="col-12">
							<div class="module box-product-blurb group">
								<h4><a href="fruit-diet-package.html">Fruit Diet Package</a></h4>
								<div class="content group">
									<img src="../../img/accessories/thumbs/fruit-diet-package.jpg" alt="fruit diet package" class="pet-thumb" />
									<p>A nutritious blend for animals that prefer fruits.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<!-- <div class="box-2 group">
								Featured Reptile
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>