<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Insect Diet Package</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li><a href="../amphibians/index.html">Amphibians</a></li>
				<li><a href="../mammals/index.html">Mammals</a></li>
				<li><a href="../reptiles/index.html">Reptiles</a></li>
				<li><a href="index.html">Accessories</a></li>
				<li><a href="../about-us.html">About Us</a></li>
				<li><a href="../contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>Insect Diet Package</h1>
					<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="module box-product-img">
						<img src="../../img/accessories/insect-diet-package.jpg" alt="insect diet package" />
					</div>
				</div>
				<div class="col-6">
					<div class="module box-product-desc">
						<dl>
							<dt>Price:</dt>
							<dd>$20.00</dd>
							<dt>Qty:</dt>
							<dd>300</dd>
						</dl>
						<h5>Description:</h5>
						<p>A nutritious blend for animals that feed on insects, arthopods etc. Also contains traces of fruit. These come in many varieties such as insects + fruits, insect mixtures and ants only.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>