<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>White Wolf Cub</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li><a href="../amphibians/index.html">Amphibians</a></li>
				<li><a href="index.html">Mammals</a></li>
				<li><a href="../reptiles/index.html">Reptiles</a></li>
				<li><a href="../accessories/index.html">Accessories</a></li>
				<li><a href="../about-us.html">About Us</a></li>
				<li><a href="../contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>White Wolf Cub</h1>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="module box-product-img">
						<img src="../../img/mammals/white-wolf-cub.jpg" alt="white wolf cub" />
					</div>
				</div>
				<div class="col-6">
					<div class="module box-product-desc">
						<dl>
							<dt>Price:</dt>
							<dd>$10000.00</dd>
							<dt>Food:</dt>
							<dd>Meat</dd>
							<dt>Housing:</dt>
							<dd>Vivarium</dd>
							<dt>Qty:</dt>
							<dd>10</dd>
						</dl>
						<h5>Description:</h5>
						<p>If you are tired of the everyday canine sales in domestic pet stores, meet the White Wolf. Our White Wolves are shipped off while they are still cubs so that you can establish an easier relationship while still young. It is known that getting on friendly terms with a full grown wolf is very difficult so we provide our services this way for your best benefit.</p>
						<br/>
						<h5>Also see:</h5>
						<a href="../accessories/meat-diet-package.html">Meat Diet Package</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>