<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="amphibians/index.html">Amphibians</a></li>
				<li><a href="mammals/index.html">Mammals</a></li>
				<li><a href="reptiles/index.html">Reptiles</a></li>
				<li><a href="accessories/index.html">Accessories</a></li>
				<li><a href="about-us.html">About Us</a></li>
				<li><a href="contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>About Us</h1>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="module box-about-us">
						<img src="../img/site/about-us.jpg" alt="the shop" />
						<h3>We Love the Exotic!</h3>
						<p>Prickly Pets is an organisation which sells exotic and unusual animals. Our target audience is mainly the rich and those who want a unique kind of pet companion. We have a contract with the ‘Animal Transport Association’ to deal with shipping and provide advice on how to care and handle a variety of these animals as some may be quite dangerous. In addition, our store also sells accessories and gear for doing so.
						<br/><br/>
						Many have been impressed with our services. Last year we made over 500 sales - that is a lot considering the rarity of these wonders. Rock-'n'-Roll-Country-Pop Singer Taylor Swift also praised us. The arctic wolf cub was just too cute to pass up and she sure seems pleased with the lil' pup.</p>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-12">
							<div class="module box-staff-info">
								<img src="../img/site/reptile-guys.jpg" alt="Larry and Lenny" />
								<h4>Larry and Lenny</h4>
								<p>Larry and Lenny manage the store. They make sure the website and stock are kept up to date. This also includes managing the transactions and shipment. Did we forget to mention, Larry and Lenny are professionals with venomous critters like cobras.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="module box-staff-info">
								<img src="../img/site/big-cat-lady.jpg" alt="Kelly" />
								<h4>Kelly</h4>
								<p>Kelly is our primary client liason. She is in charge of negotiating with other organisations which breed rare, exotic animals and making special deals. Also, she is great with the animals, especially the big cats.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>