<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Contact Us</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/styles.css" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<div id="top">
		<div id="header"></div>
	</div>
	<div id="logo"></div>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="amphibians/index.html">Amphibians</a></li>
				<li><a href="mammals/index.html">Mammals</a></li>
				<li><a href="reptiles/index.html">Reptiles</a></li>
				<li><a href="accessories/index.html">Accessories</a></li>
				<li><a href="about-us.html">About Us</a></li>
				<li><a href="contact-us.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="page-content group">
			<div class="row">
				<div class="col-12 page-header">
					<h1>Contact Us</h1>
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-12 module box-form">
					<form id="contact" action="">
					    <label for="name">Name:</label>
					    <input name="name" id="name" />
					    <label for="email">Email:</label>
					    <input name="email" id="email" />
					    <label for="subject">Subject:</label>
					    <input name="subject" id="subject" class="input-md" />
					    <label for="message">Your Message:</label>
      					<textarea name="message" id="message" class="input-md"></textarea>
      					<button type="submit">Send Message</button>
      					<button type="reset">Reset Form</button>
					</form>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<span>Copyright &copy;</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>